<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  
  <ul class="quotes">
  <% for(var i=0; i<data.length; i++) {%>
    <li class="quote">
      <span><%= data[i].id %></span>
      <span><%= data[i].username %></span>
    </li>
  <% } %>
  </ul>
  <div>
 
</div>

 
</body>
</html>